@import "tailwindcss";

@theme {
  /* primary */
  --color-primary-50: #fff2fc;
  --color-primary-100: #fce3f7;
  --color-primary-200: #fabbe9;
  --color-primary-300: #f794da;
  --color-primary-400: #f048b5;
  --color-primary-base: #eb008b;
  --color-primary-600: #d40074;
  --color-primary-700: #b0005b;
  --color-primary-800: #8c0041;
  --color-primary-900: #69002c;
  --color-primary-950: #45001a;

  /* element */
  --color-accent: #6BC7C2;
  --color-surface: #FAF5FA;
  --color-background: #ffffff;
  --color-border: #EAEAEA;
  --color-text-b: #000000;
  --color-text-w: #ffffff;

  --color-wild-strawberry-50: #fff2fc;
  --color-wild-strawberry-100: #fce3f7;
  --color-wild-strawberry-200: #fabbe9;
  --color-wild-strawberry-300: #f794da;
  --color-wild-strawberry-400: #f048b5;
  --color-wild-strawberry-500: #eb008b;
  --color-wild-strawberry-600: #d40074;
  --color-wild-strawberry-700: #b0005b;
  --color-wild-strawberry-800: #8c0041;
  --color-wild-strawberry-900: #69002c;
  --color-wild-strawberry-950: #45001a;

  /* semantic */
  --color-state-success: #00b300;
  --color-state-danger: #ff0000;
  --color-state-warning: #ff9900;
  --color-state-info: #00aaff;
  --color-state-ignore: #999999;
  --color-state-disabled: #cccccc;

  --radius-fig: 2.5rem;
}

@layer base {
}

.ant-menu {
  overflow: visible !important;
  padding-right: 0 !important;
}

.ant-menu-item {
  position: relative;
  color: #f3f3f3 !important;
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  margin-right: -20px;
  z-index: 1;
  transition: all 1s ease-in-out;
}

.ant-menu-item:hover {
  background-color: #f3f3f3 !important;
  color: var(--color-primary-600) !important;
  border-top-left-radius: 9999px !important;
  border-bottom-left-radius: 9999px !important;
  margin-right: 0;
  padding-right: 20px;
}

.ant-menu-item-selected {
  position: relative;
  background-color: #f3f3f3 !important;
  color: var(--color-primary-600) !important;
  border-top-left-radius: 9999px !important;
  border-bottom-left-radius: 9999px !important;
  margin-right: 0;
  padding-right: 20px;
  transform: translateX(8px);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 2;
}

.ant-menu-item-selected:hover {
  background-color: var(--color-primary-200) !important;
  color: var(--color-primary-600) !important;
}

.ant-menu-item-selected::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 6px;
  background-color: var(--color-primary-600) !important;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
}

.ant-btn {
  background-color: var(--color-primary-600) !important;
  color: #fff !important;
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  border-radius: 9999px !important;
}

.ant-btn:hover {
  background-color: #f3f3f3 !important;
  color: var(--color-primary-600) !important;
  border: var(--color-primary-800) 1px solid !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.ant-pagination-item {
  border-radius: 9999px !important;
  color: var(--color-primary-600) !important;
  border-color: transparent;
  transition: all 1s ease;
}

.ant-pagination-item:hover {
  border-color: var(--color-primary-600) !important;
}

.ant-pagination-item-active {
  background-color: var(--color-primary-600) !important;
  border: none !important;
}

.ant-pagination-item-active a {
  color: white !important;
}

.ant-table-container {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}

.ant-select-selector {
  border-radius: 9999px !important;
  padding: 4px 12px !important;
  height: 1.3rem !important;
  width: 7rem !important;
  font-size: 16px !important;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
}
