@import "tailwindcss";

@theme {
  --color-primary: #0e0125;

  --radius-fig: 2.5rem;
}

@layer base {
}

.ant-menu-item:hover {
  background-color: #97a6b8 !important;
  color: white !important;
}

.ant-menu-item-selected {
  background-color: #9e9e9e !important;
  color: white !important;
}

.ant-menu-item-selected:hover {
  background-color: #696969 !important;
  color: white !important;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
}
